<div class="row mt-1">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <!--<td>%= link_to product.name, manager_item_path(product) %></td>-->
            <td><%= product.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>