<div class="container mt-5">
  <div class="row text-center">
    <div class="col text-align">
    <h2>本当に退会しますか？</h2>
    退会すると、会員登録情報や<br>
    これまでの購⼊履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。<br>
    <%= link_to "退会しない", customers_mypage_path, {class: "btn btn-primary mt-2 mr-5"} %>
    <%= link_to "退会する", customers_withdraw_path, {method: :patch, class: "btn btn-danger mt-2"} %>
  </div>
</div>