<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <h2 class="red-border px-3">注文履歴詳細</h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="offset-1 col-4">

      <div class="row">
        <strong class="red-border px-3">注文情報</strong>
      </div>

      <div class="row mt-3">
        <table class="table table-borderless offset-1">
          <tbody>
            <tr class="brown-border">
              <td>注文日</td>
              <td></td>
            </tr>

            <tr class="brown-border">
              <td>名前</td>
              <td></td>
            </tr>

            <tr class="brown-border">
              <td>支払方法</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="offset-1 col-4">
      <div class="row">
        <strong class="red-border px-3">請求情報</strong>
      </div>

            <tr class="brown-border">
              <td>ご請求額</td>
              <td>></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="row mt-5">
    <div class="offset-1">
      <strong class="red-border px-3">注文内容</strong>
    </div>
  </div>

  <div class="row mt-3">
    <div class="offset-1 col-9">

      <table class="table table-borderless">
        <thead>
          <tr class="red-border">
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>

       
        <tbody>
          <tr class="brown-border">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      
      </table>
    </div>
  </div>
</div>